body {
    color: white;
    font-size: 13px;
}
.bg-dark {
    background-color: #313640;
}
.bg-darks {
    background-color: #465161;
}

.bg-main {
    background-color: #414755;
}

.revenue {
    --tw-gradient-from: #f7941d var(--tw-gradient-from-position);   
    --tw-gradient-to: #fdba74 var(--tw-gradient-to-position);
    --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to);
}
.order {
    --tw-gradient-from: #2962FF  var(--tw-gradient-from-position);
    --tw-gradient-to: #5985fe  var(--tw-gradient-to-position);
    --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to);
}
.user {
    --tw-gradient-from: #7460ee var(--tw-gradient-from-position);
    --tw-gradient-to: #a195ef  var(--tw-gradient-to-position);
    --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to);
}

.button_sidebar {
    width: 100%;
    font-size: 13px;
    display: flex;
    align-items: center;
    padding: 15px;
    font-weight: 400;
    color: white;
    display: flex;
    justify-content: space-between;
    border-radius: 10px;
    /* border-bottom: 1px solid white; */
}

.button_sidebar_cl {
    width: 100%;
    display: flex;
    align-items: center;
    padding: 10px 0 10px 30px;
    font-size: 12px;
    color: white;
    transition: display 0.2s ease;
}

.button-none {
    transition: display 0.2s all;
    opacity: 1;
}

.sidebar {
    position: fixed;
    top: 0;
    left: -250px;
    /* Sidebar ẩn ban đầu bên ngoài màn hình */
    width: 250px;
    height: 100%;
    --tw-bg-opacity: 1;
    background-color: #414755;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    transition: transform 0.3s ease;
    transition: margin-left 0.3s ease;
}

.sidebar.open {
    transform: translateX(0);
    /* Di chuyển sidebar vào màn hình */
    margin-left: 250px;
    transition: margin-left 0.3s ease;
}

.main-content {
    transition: margin-left 0.3s ease;
    margin-left: 0;
}

.sidebar.open+.main-content {
    margin-left: 250px;
}


.button_sidebar_cl:hover {
    color: orange;
}

.button_sidebar:hover {
    color: orange;
    background-color: gray;
}

.icon_count {
    background-color: rgb(228, 183, 88);
    color: aliceblue;
    font-size: x-small;
    border-radius: 3px;
    min-width: 15px;
    height: 15px;
    padding-left: 2px;
    padding-right: 2px;
}

.button_selected {
    display: inline-block;
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
    padding: 10px;
    /* border: 1px solid gray; */
    margin: 5px;
    text-align: center;
    vertical-align: middle;
    line-height: 1;
    cursor: pointer;
}

.button_selected ion-icon {
    vertical-align: middle;
    margin-right: 5px;
}

.button_selected:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    color: orange;
    font-weight: bold;
}

.icon_sidebar {
    font-size: larger;
    margin: 0 10px -3px 10px;
}

.card_dashboard {
    height: 80px;
    border-radius: 12px;
    transition: transform 0.1s ease, box-shadow 0.1s ease;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
    padding-bottom: 0;
}

.card_dashboard:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}


.selected {
    border-bottom: 2px solid rgb(234 179 8);
    color: rgb(234 179 8);
}

.trix-content {
    max-height: 200px;
    overflow-y: auto;
    min-height: 200px;
}

.product-name {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

@media screen and (max-width: 2840px) {
    .product-name {
        max-width: 30ch;
    }
}

@media screen and (max-width: 1640px) {
    .product-name {
        max-width: 24ch;
    }
}

@media screen and (max-width: 1240px) {
    .product-name {
        max-width: 20ch;
    }
}

@media screen and (max-width: 1168px) {
    .product-name {
        max-width: 14ch;
    }
}

@media screen and (max-width: 680px) {
    .product-name {
        max-width: 8ch;
    }
}

canvas {
    width: 300px;
    height: auto;
}

.alert {
    padding: 15px;
    margin-bottom: 15px;
    border-radius: 5px;
    transition: opacity 0.5s ease;
}

.alert-success {
    background-color: #4caf50;
    color: white;
}

.alert-error {
    background-color: #f44336;
    color: white;
}

.status-indicator {
    display: inline-block;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    margin-right: 5px;
}

.status-indicator.pending {
    background-color: orange;
}

.status-indicator.processing {
    background-color: blue;
}

.status-indicator.cancelled {
    background-color: red;
}

.status-indicator.completed {
    background-color: #4caf50;
}

.status-indicator.inactive {
    background-color: red;
}

.status-indicator.active {
    background-color: #4caf50;
}

.status-indicator.stocking {
    background-color: #4caf50;
}

.status-indicator.outOfStock {
    background-color: orange;
}

.status-indicator.deleted {
    background-color: red;
}

.loader {
    border: 8px solid #f3f3f3;
    border-top: 8px solid #3498db;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}