.button_sidebar {
    width: 100%;
    display: flex;
    align-items: center;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 2px 2px 2px rgb(219, 218, 218);
    font-weight: 500;
}
.button_sidebar_cl {
    width: 100%;
    display: flex;
    align-items: center;
    padding: 10px;
    border-radius: 5px;
}
.button_sidebar_cl:hover {
    color: orange;
    background-color: aliceblue;
}

.button_sidebar:hover {
    color: orange;
    background-color: aliceblue;
    transform: translateY(-5px);
}

.icon_count {
    background-color: rgb(228, 183, 88);
    color: aliceblue;
    font-size: x-small;
    border-radius: 3px;
    min-width: 15px;
    height: 15px;
    padding-left: 2px;
    padding-right: 2px;
}

.button_selected {
    display: inline-block;
    background-color: aliceblue;
    border-radius: 20px;
    padding: 10px;
    border: 1px solid gray;
    margin: 5px;
    text-align: center;
    vertical-align: middle;
    line-height: 1;
    cursor: pointer;
}

.button_selected ion-icon {
    vertical-align: middle;
    margin-right: 5px;
}

.button_selected:hover {
    transform: translateY(-5px); 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    color: orange;
    font-weight: bold;
}

.icon_sidebar {
    font-size: larger;
    margin: 0 10px 0 20px;
}

.card_dashboard {
    height: 120px;
    border-radius: 12px;
    box-shadow: 4px 4px 4px gray;
    transition: transform 0.1s ease, box-shadow 0.1s ease;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
    padding-bottom: 0; 
}

.card_dashboard:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    cursor: pointer; 
}


.selected {
    border-bottom: 2px solid rgb(234 179 8);
    color: rgb(234 179 8);
}

.trix-content {
    max-height: 200px;
    overflow-y: auto;
    min-height: 200px;
}