.button_sidebar {
    width: 100%;
    display: flex;
    align-items: center;
    padding: 10px;
    border-radius: 5px;
}

.button_active {
    background: linear-gradient(to right, goldenrod, rgb(219, 183, 94));
    color: white;
}

.icon_sidebar {
    margin-right: 20px;
    margin-left: 10%;
}

.card_dashboard {
    height: 120px;
    border-radius: 12px;
    box-shadow: 4px 4px 4px gray;
}